*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

html{
	font-size: 18px;
	height: 100%;
}

body{
	
	background: url("../img/background.jpeg")  center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}

.container_movies{
    background-color: rgba(240, 248, 255, 0.692);
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	padding: 2em;
	margin: 10% auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 90%;
}

.container{
    background-color: rgba(240, 248, 255, 0.692);
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	padding: 2em;
	margin: 10% auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 90%;
}


.flex
{
   /* basic styling */
   background-color: rgba(240, 248, 255, 0.692);
   width: 100%;
   height: 100%;
   border: 1px solid #555;
   border-radius: 7pt;
   font: 14px Arial;

   /* flexbox setup */
 

   display: flex;
   margin-bottom: 5px; 
   flex-wrap: wrap;
   flex: 1;
   
}

.flex > div
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;

   width: 30%; /* To make the transition work nicely.  (Transitions to/from
				   "width:auto" are buggy in Gecko and Webkit, at least.
				   See http://bugzil.la/731886 for more info.) */

   -webkit-transition: width 0.7s ease-out;
   transition: width 0.7s ease-out;
}


.flex > div:hover
{
	width: 200px;
}

form button.submit{
    background: rgba(255,255,255,0.25);
    border: 1px solid #333;
    border-radius: 7px;
    line-height: 1em;
    width: 20%;
    margin: auto;
    padding: 0.5em 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}

form label{
	border-bottom: 1px solid #333;
	display: block;
	font-size: 1.25em;
	margin-bottom: 1em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

form label input{
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}

h1{
	font-size: 3em;
    margin: 0 0 0.5em 0;
    text-align: center;
}

th{
	width: max-content;
}


.text-center{
	text-align: center;
}

.custom-scrollbar {
	position: relative;
	height: 560px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}
