*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

html{
	font-size: 18px;
	height: 100%;
}

body{
	background: url("../img/background.jpeg")  center no-repeat;
	background-size: cover;
	width: 100%;
}
.container{
    background-color: rgba(209, 209, 209, 0.692);
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	padding: 2em;
	margin: 3% auto;
	max-width: 100%;
	width: 90%;
	backdrop-filter: blur(5px);
  	align-items: center;
}

.button-a{
    background: rgba(255, 255, 255, 0.575);
    border: 1px solid #333;
    border-radius: 7px;
    line-height: 1em;
    width: 20%;
    margin: auto;
    padding: 0.5em 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
	cursor: pointer;
}


.table-cinemas{
	margin-top: none;
	border: none;
}
.form-control:focus{
	color: #495057;
	background-color: #fff;
	border-color: #052344;
	outline: 0;
	box-shadow: none;
}

.input-cinema{
	border-radius: 7px;
	margin-bottom: 2%;
	width: 55%;
	background: white;
    line-height: 38px;
    border: 1px solid #cccccc;
}

.form-group{
	height: fit-content;
	width: 70%;	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	border: 1.5px solid rgb(70, 70, 70) ;
	border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.575);
}

.form-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
	font-size: 3em;
    margin: 0 0 0.3em 0;
    text-align: center;
}

th{
	width: max-content;
}

.text-center{
	text-align: center;
}

.custom-scrollbar {
	position: relative;
	height: 560px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	border: 1.5px solid rgb(70, 70, 70) ;
	border-radius: 7px;
	display: block;
	background-color: rgba(255, 255, 255, 0.575);
	margin-bottom: 1.8%;
}

.th-pointer{
	cursor: pointer;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .5em;
}